small
    font-weight: 300 !important

a
    color: $base-color
    text-decoration: none
    transition: all .4s ease

    &.no-color
        color: $color

    &:hover
        text-decoration: none

a:hover:not(.no-color)
    color: lighten($base-color, 10%)
    transition: all .4s ease

.text-uppercase
    text-transform: uppercase

.text-lowercase
    text-transform: lowercase

.text-capitalize
    text-transform: capitalize

.text-normal
    text-transform: none

.text-semi-condensed
    font-stretch: semi-condensed

.text-condensed
    font-stretch: condensed

.shadowed
    box-shadow: 0 4px 4px -4px $base-shadow
