/*! This is for components 'Navbar' */
.navbar
    padding: 8px 150px

.navbar-light

    .navbar-nav
        .nav-link
            color: rgba(0,0,0,0.7)
            font-weight: 400

        .active

            &>.nav-link
                color: #000
                font-weight: 600

.navbar-nav
    font-weight: 300
    font-size: .9em

.nav-link
    color: $base-color
    font-size: .9em
    @extend .text-semi-condensed

.navbar-upper
    .nav-link
        &:not(.searchbar)
            color: $base-color !important

        small
            color: lighten($color, 25%)

.form-inline
    margin-top: -10px
    margin-left: 20px

    .searchbar_input
        display: none
        border: none
        border-bottom: 1px solid $base-color
        background-color: $base-background

.sticky-top
    // border-bottom: 1px solid #d7d7d7
